@model Contact

@{
    ViewBag.PageTitle = "CONTACT";
}

    <h3 class="text-center">@ViewBag.PageTitle</h3>

    <h4>
        Editorial office: National Research and Development Institute for Industrial Ecology ECOIND Bucharest
    </h4>
    <br />
    <h5>
        71-73 Drumul Podu Dambovitei Street, district 6, 060652 code, Bucharest, Romania
    </h5>
    <h5>
        Phone:
    </h5>
    <h5>
        Email: office@rjeec.ro
    </h5>

    <form asp-controller="contact" asp-action="index" method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="FirstName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="FirstName" class="form-control" placeholder="First Name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="LastName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="LastName" class="form-control" placeholder="Last Name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Message" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <textarea asp-for="Message" class="form-control" placeholder="Message"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>