@{
    ViewBag.PageTitle = "RJEEC - Access Denied";
}

<div class="text-center">
    <h2 class="text-danger">Access Denied</h2>
    <h6>
        You do not have persmission to submit a manuscript. Please 
        <a asp-controller="Account" asp-action="Login">login</a>
        or
        <a asp-controller="Account" asp-action="Register">register</a>

        first.
    </h6>
   <img src="~/images/noaccess.png" style="height:15rem; width:17rem" />
    
</div>