body {
    font-size:1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:justify;
    margin:0 1rem;
    padding:0;
}

#rowcontent {
    min-height: calc(60vh - 15em);
    margin-top:2em;
}

.footer {
    background-color: #53bfb4;
    min-height: 15em;
    padding: 2em;
    color: #00675c;
}

.footer a:hover{
    color:rgba(255,255,255,0.75);
}

.navbar img {
    display: block;
    margin-right: auto;
    height:5rem;
    padding-bottom:0.5rem;
}

.lead img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 15rem;
}
.container {
    max-width:98% !important;
}

.default .card-deck .card {
    min-width:30%;
    max-width:30%;
}

.articlecard {
    max-width: 100%;
    min-width: 100%;
}

.eventcard, .authorcard {
    max-width: 30%;
    min-width: 30%;
}

.event .card-deck .card {
    max-width: 50%;
}
/* Style the button that is used to open and close the collapsible content */

.collapsible {
    color: #444;
    cursor: pointer;
    padding: 1.5em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    font-weight:bold;
}

    .graytab {
        background-color: #bbb;
    }

    .greentab {
        background-color: #58cb97;
    }

    .darkbluetab {
        background-color: #5b98c3;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    
    .graytab:hover {
        background-color: #999;
    }

    .greentab:hover {
        background-color: #32b97c;
    }

    .darkbluetab:hover {
        background-color: #377dae;
    }

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0.05em 1em;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height:1.5em;
}

.collapsible:after, .collapsibleAbs:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 0.75em;
    color: white;
    float: right;
    margin-left: 0.3em;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.btn{
    width: 5em;
}

.imageThumbnail {
    height: 14em;
    width: auto;
}

.imageThumbnailPlugin {
    height: 2em;
    width: auto;
}


* {
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif !important;
}

/* Slideshow container */
.slideshow-container {
    max-width: 60em;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1em;
    padding: 1em;
    color: white !important;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 0.2em 0.2em 0;
    user-select: none;
}

    .prev{
        left: 0;
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 0.2em 0 0 0.2em;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 1em;
    padding: 0.5em 0.75em;
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 1em;
    padding: 0.5em 0.75em;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 0.2em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .activeimg, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fadeeffect {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.sidebar-widget {
    max-width: 95%;
    color: #00675c;
    float: left;
    font-size: 100%;
    margin-bottom: 2em;
    width: 100%;
    border-width: 0.2em;
    border-color: #53bfb4;
    border-style: groove;
    border-radius: 0.5em;
    padding: 0.75em;
}

.sidebar-headline {
    text-align: center;
    letter-spacing: 0.13em;
    font-size: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif !important;
    color: #53bfb4;
}

.sidebar-widget .sidebar-headline {
    border-bottom: 0.1em dashed #00675c;
    margin: 0 0 0.3em;
    padding: 0 0 0.5em;
    position: relative;
}

a {
    color: #00675c;
    text-decoration: underline;
}

    a:hover {
        color: #53bfb4;
    }

*, *:before, *:after {
    box-sizing: border-box;
}

.sigla {
    padding-top: 0.2em;
    margin: 1.2em;
    max-width: 75%;
    height:auto;
}

.sidebar-content {
    line-height: 1.5;
    /*font-family: Trebuchet MS, Helvetica, sans-serif;*/
    font-size: 1.25em !important;
    font-weight: 800;
    text-align: center;
    margin: 0;
    background: #D5F5E3;
    border-radius: 0.3em;
    padding: 0.5em;
}

.sidebar-content ul {
    list-style:none;
    padding-left:0;
}

.sidebar-subcontent {
    line-height: 1.5;
    text-align: left;
    font-size: 1em !important;
}

    .sidebar-subcontent a{
        line-height:2.5rem;
    }

    .topevents {
        text-align: left;
    }

.maincontent {
   padding-right:3em;
}

.editorialboardcard {
    text-align:center;
    margin-bottom:1em;
    margin-top:1em;
}

    .editorialboardcard div {
        text-align: center;
    }

.navbar {
    background-color: #53bfb4;
    height:4.5rem;
    border-radius:50%;
    /*background-color: #ff9A17;*/
}

.navbar-dark .navbar-nav .nav-link {
    color: #00675c;
    /*color: #327713;*/
    /*color: #873600;*/
    font-weight: bold;
    text-decoration: none;
}

li .nav-item .activetab {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    color: white;
    background-color: #0d3a8b;
    border-color: #0d3a8b;
}

    .btn-primary:hover {
        color: #aaa;
        background-color: #092d6e;
        border-color: #6185c6;
    }

.lead {
    font-size: 2.5rem;
    padding: 0% 6% 0% 5%;
    text-align: center;
    font-weight: bold;
    color: #327713;
}

.leaddiv {
    font-size: 2.5rem;
    padding: 4% 6% 0% 5%;
    text-align: center;
    font-weight: bold;
    color: #327713;
    color: #ff9a17;
}

.row .header{
    margin:0;
}

body {
    background-color: #EAFAF1;
    color: #00675c;    
}

/*portocaliu
#ff7917
#ff9445
#ffac6f
#d25900
#a45600

galben
#ffae17
#ffcc6f
#ffbe45
#d28800
#a56b00

albastru
#1e4faa
#6185c6
#3d67b4
#0d3a8b
#092d6e

verde
#0e9e8f
#53bfb4
#2eaa9d
#008274
#00675c*/
