@font-face {
    font-family: 'bahnschrift';
    src: url('bahnschrift.ttf') format('truetype');
}

body {
    font-size: 0.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    margin: 0 1rem;
    padding: 0;
    /*background-color: #EAFAF1;*/
    background-color:rgb(248, 249, 253);
    color: #00675c;
}

.logout {
    width: auto !important;
    text-transform: none !important;
    border: 0 !important;
}

.logoecoind {
    max-width: 100%;
    height: 10rem;
}

.img-responsive{
    max-width:100%;
}

.container{
    margin:0;
    padding:0;
}

.header{
    margin-left: 0px;
    margin-right:0px;
}

h2{
    text-align:center;
    text-transform:uppercase;
}

#rowcontent {
    min-height: calc(60vh - 15em);
    margin-top:2em;
}

.footer {
    /*background-color: #53bfb4;*/
    min-height: 15em;
    padding: 2em;
    color: #00675c;
    background-color: rgb(33, 95, 58);
    color:white;
}

.footer a{
    color:white;
}

.footer a:hover{
    color:rgba(255,255,255,0.75);
}

.footer p{
    margin-bottom:0.5rem;
}

.lead img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 12rem;
}
.container {
    max-width:100% !important;
}

.default .card-deck .card {
    min-width:30%;
    max-width:30%;
}

.articlecard {
    max-width: 100%;
    min-width: 100%;
    margin:1rem 0 !important;
}

.eventcard, .authorcard {
    max-width: 45%;
    min-width: 45%;
}

.event .card-deck .card {
    max-width: 50%;
}
/* Style the button that is used to open and close the collapsible content */

.collapsible {
    color: #444;
    cursor: pointer;
    padding: 1.5em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    font-weight:bold;
}

.graytab {
    background-color: rgb(153,255,153);
    /*background-color: rgb(249, 242, 161);*/
}

.greentab {
    /*background-color: #58cb97;*/
    background-color: rgb(255, 204, 102);
}

.darkbluetab {
    background-color: rgb(0,204,0);
}

.darkgreentab {
    background-color: #0be3b8;
}

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.graytab:hover {
    background-color: rgba(153,255,153, 0.75);
    /*background-color: rgb(247, 240, 126);*/
}

.greentab:hover {
    /*background-color: #32b97c;*/
    background-color: rgba(255, 204, 102, 0.75);
}

.darkbluetab:hover {
    background-color: rgba(0,204,0,0.75);
}

.darkgreentab:hover {
    background-color: #06FBCA;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0.05em 1em;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    line-height:1.5em;
}

.collapsible:after, .collapsibleAbs:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 0.75em;
    color: white;
    float: right;
    margin-left: 0.3em;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.btn{
    width: 5em;
}

.imageThumbnail {
    height: 25em;
    width: auto;
}

.imageThumbnailPlugin {
    height: 2em;
    width: 3em;
    margin-right:0.5em;
}


* {
    box-sizing: border-box;
    /*font-family: Georgia, "Times New Roman", Times, serif !important;*/
}

/* Slideshow container */
.slideshow-container {
    max-width: 60em;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1em;
    padding: 1em;
    color: white !important;
    font-weight: bold;
    font-size: 1em;
    transition: 0.6s ease;
    border-radius: 0 0.2em 0.2em 0;
    user-select: none;
}

    .prev{
        left: 0;
    }
    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 0.2em 0 0 0.2em;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 1em;
    padding: 0.5em 0.75em;
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 1em;
    padding: 0.5em 0.75em;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 1em;
    width: 1em;
    margin: 0 0.2em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .activeimg, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fadeeffect {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.sidebar-widget {
    max-width: 100%;
    color: #00675c;
    float: left;
    font-size: 100%;
    margin-bottom: 2em;
    width: 100%;
    border-width: 0.2em;
    border-color: #53bfb4;
    border-style: groove;
    border-radius: 0.5em;
    padding: 0.75em;
}

.sidebar-headline {
    text-align: center;
    letter-spacing: 0.13em;
    font-size: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif !important;
    color: #53bfb4;
    font-weight: bold;
    word-wrap: break-word;
}

.sidebar-widget .sidebar-headline {
    border-bottom: 0.1em dashed #00675c;
    margin: 0 0 0.3em;
    padding: 0 0 0.5em;
    position: relative;
}

a {
    color: #00675c;
    text-decoration: underline;
}

    a:hover {
        color: #53bfb4;
    }

*, *:before, *:after {
    box-sizing: border-box;
}

.sigla {
    padding-top: 0.2em;
    margin: 1.2em;
    max-width: 75%;
    height:auto;
}

.sidebar-content {
    line-height: 1.5;
    /*font-family: Trebuchet MS, Helvetica, sans-serif;*/
    font-size: 1.25em !important;
    font-weight: 800;
    text-align: center;
    margin: 0;
    background: #D5F5E3;
    border-radius: 0.3em;
    padding: 0.5em;
    word-wrap: break-word;
}

.sidebar-content ul {
    list-style:none;
    padding-left:0;
}

.sidebar-subcontent {
    line-height: 1.5;
    text-align: left;
    font-size: 1em !important;
}

    .sidebar-subcontent a{
        line-height:2.5rem;
    }

    .topevents {
        text-align: left;
    }

.maincontent {
   padding-right:1em;
   font-size:1rem;
   margin-bottom:1rem;
}

#cookieConsent .modal-dialog {
    position: absolute;
    bottom: 0;
    max-width:90%;
    width:100%;
    margin-left:5%;
}

.editorialboardcard {
    text-align:center;
    margin-bottom:0.3rem;
    margin-top:0.3rem;
}

    .editorialboardcard div {
        text-align: center;
    }

.btn-primary {
    color: white;
    background-color: #5b98c3;
    border-color: #377dae;
    text-decoration:none;
}

.btn-danger{
    text-decoration:none;
}

    .btn-primary:hover {
        color: #aaa;
        background-color: #377dae;
        border-color: #5b98c3;
    }

.lead {
    font-size: 2.5rem;
    padding: 0% 0% 1% 0%;
    text-align: center;
    font-weight: bold;
    color: #327713;
}

.leaddiv {
    font-family: 'Bahnschrift SemiBold Condensed', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4rem;
    padding: 0% 0% 0% 0%;
    text-align: center;
    font-weight: bold;
    color: rgb(48, 117, 18);    ;
}

.row .header{
    margin:0;
}

@media (min-width: 1400px) {
    footer {
        font-size:1.2rem;
    }

    footer h6{
        font-size:1.4rem;
    }

    .logo{
        padding:0;
    }
    .logoecoind {
        width:100%;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-size: 1.3rem !important;
        padding-bottom:0 !important;
        padding-top:0 !important;
    }
    
}

@media (min-width: 768px) {
    #smallscreensaside {
        display: none;
    }
}


@media (max-width: 767px) {
    .header > .col-sm-5 {
        display: none !important;
    }

    .asideleft, .asideright{
        display: none;
    }

    #smallscreensaside {
        padding: 2em;
    }

    #smallscreensaside div {
        width:100%;
    }    
}

@media (min-width: 738px) {
    .collapsible-menu input, .collapsible-menu label{
        display: none;
    }

    .navbar {
        background-color: #53bfb4;
        height: auto;
        border-radius: 0.5em 0.5em;
        /*background-color: #ff9A17;*/
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #00675c;
        /*color: #327713;*/
        /*color: #873600;*/
        font-weight: bold;
        text-decoration: none;
        font-size: 0.85rem;
        padding-bottom: 0.4rem !important;
        padding-top: 0.4rem !important;
        text-transform: capitalize;
    }

    li .nav-item .activetab {
        color: rgba(255, 255, 255, 0.75);
    }

    .navbar img {
        display: block;
        margin-right: auto;
        height: 5rem;
        padding-bottom: 0.5rem;
    }

    .menuphoto{
        display:none !important;
    }
} 

@media (max-width: 737px) {
    .header {
        display: none;
    }

    .navbar > .container {
        display: block !important;
    }

    .collapsible-menu {
        background-color: #53bfb4;
        box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
        flex-wrap: nowrap !important;
    }

       .collapsible-menu label {
            font-size:2rem;
            display: block !important;
            cursor: pointer;
            padding: 10px 0 10px 20px;
        }

    /*input:checked + label {
        background-image: url(close.png);
    }*/

    .menu-content {
        max-height: 0;
        overflow: hidden !important;
        padding: 0 0 0 50px;
        width:100% !important;
    }

    #menu {
        display: none !important;
    }

    input:checked ~ .menu-content {
        max-height: 100% !important;
    }

    input:checked ~ .menulabel .navbar-toggler-icon {
        opacity: 0.5;
    }

    .navbar {
        height: auto !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #00675c;
        /*color: #327713;*/
        /*color: #873600;*/
        font-weight: bold;
        text-decoration: none;
        font-size: 0.9rem;
        text-transform: capitalize;        
    }

    .nav-item {
        width: 100% !important;
    }

    .navbar img {
        display: none;
    }

    .menuphoto{
        display:inline-block !important;
        float:right;
        height:4rem;
        margin: -8px 30px -12px 0;
    }

    body, .container, .navbar{
        width:100%;
        margin:0;
        padding:0;
        max-width:100% !important;
    }

    .maincontent{
        margin: 0 3rem;
        padding:0;
    }

    
}



/*portocaliu
#ff7917
#ff9445
#ffac6f
#d25900
#a45600

galben
#ffae17
#ffcc6f
#ffbe45
#d28800
#a56b00

albastru
#1e4faa
#6185c6
#3d67b4
#0d3a8b
#092d6e

verde
#0e9e8f
#53bfb4
#2eaa9d
#008274
#00675c*/
