@{
    ViewBag.PageTitle = "Editorial Board";
}

<h3>@ViewBag.PageTitle</h3>

<div>
    Editor in Chief:
</div>
<div>
    Manager Editor:
</div>
<div>
    Associate Editors:
</div>
<div>
    Editorial Advisory Board:
</div>
<div>
    <p>Gheorghe BATRINESCU INCD ECOIND, Romania</p>
    <p>Asher BRENNER Ben-Gurion University of the Negev (BGU), Israel</p>
    <p>Elena BUCUR INCD ECOIND, Romania</p>
    <p>Costel BUMBAC INCD ECOIND, Romania</p>
    <p>Alina BUTU National R&D Institute for Biological Sciences, Romania</p>
    <p>Mariana Carmen CHIFIRIUC University of Bucharest, Romania</p>
    <p>Lucian CONSTANTIN INCD ECOIND, Romania</p>
    <p>Liliana CRUCERU INCD ECOIND, Romania</p>
    <p>Andrei Florin DANET University of Bucharest, Romania</p>
    <p>Laurentiu DINU INCD ECOIND, Romania</p>
    <p>Timothy EHLINGER University of Wisconsin – Milwaukee, U.S.A.</p>
    <p>Toma GALAON INCD ECOIND, Romania</p>
    <p>Liviu-Daniel GALATCHI Ovidius University of Constanta, Romania</p>
    <p>Lucian Puiu GEORGESCU “Dunarea de Jos” University of Galati</p>
    <p>Stefania GHEORGHE INCD ECOIND, Romania</p>
    <p>Eugen GHEORGIU International Centre of Biodynamics, Romania</p>
    <p>Helmut KROISS Vienna University of Technology, Institute for Water Quality and Resource Management, Austria</p>
    <p>Lidia KIM INCD ECOIND, Romania</p>
    <p>Stanisław KOTER Nicolaus Copernicus University in Toruń, Poland</p>
    <p>Carol Blaziu LEHR INCD ECOIND, Romania</p>
    <p>Irina LUCACIU INCD ECOIND, Romania</p>
    <p>Tudor LUPASCU Institute for Chemistry, Academy of Science Moldova</p>
    <p>Jean Louis MARTY University of Perpignan via Domitia, France</p>
    <p>Grigore MIHAESCU University of Bucharest, Romania</p>
    <p>Gheorghe NECHIFOR Polytechnic University of Bucharest, Romania</p>
    <p>Mihai NITA-LAZAR INCD ECOIND, Romania</p>
    <p>Ines NITOI INCD ECOIND, Romania</p>
    <p>Cristina ORBECI Polytechnic University of Bucharest, Romania</p>
    <p>Luoana Florentina PASCU INCD ECOIND, Romania</p>
    <p>Jana PETRE INCD ECOIND, Romania</p>
    <p>Ovidiu POPA University of Agronomic Sciences and Veterinary Medicine of Bucharest, Romania Elefteria PSILLAKIS Technical University of Crete, Greece</p>
    <p>Elena Cristina RADA University of Trento, Italy / Insubria University, Varese, Italy</p>
    <p>Jaroslav SLOBODNIK Environmental Institute of Kos, Slovakia</p>
    <p>Jacobus (Koos) F van STADEN INCD EMC, Romania</p>
    <p>Andrea-Cristina STAICU University of Bucharest, Romania</p>
    <p>Miruna STAN University of Bucharest, Romania Michaela Dina STANESCU Society of Chemistry, Bucharest, Romania</p>
    <p>Daniela Simina STEFAN Polytechnic University of Bucharest, Romania</p>
    <p>Ivana TEODOROVIC University of Novi Sad, Serbia</p>
    <p>Giuliano TEVI University of Ecology Bucharest, Romania</p>
    <p>Gabriela Geanina VASILE INCD ECOIND, Romania</p>
    <p>Caner ZANBAK TCMA, Turkey</p>

</div>
    