@{
    ViewBag.PageTitle = "RJEEC - AUTHOR GUIDELINES";
}

    <h2 class="text-center">AUTHOR GUIDELINES</h2>
<br />

<div class="row" style="border:2px solid black">
    <div class="col-sm-6 editorialboardcard">
        <a asp-controller="Home" asp-action="DownloadFile" asp-route-fileName="Author guidelines.docx" asp-route-subfolder="generalDocuments">Article format</a>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <a asp-controller="Home" asp-action="DownloadFile" asp-route-fileName="Publishing Agreement.doc" asp-route-subfolder="generalDocuments">Publising Agreement</a>
    </div>
</div>

<br />
<div>
    <p>Your submission must contain the following items in separate Microsoft Word files:</p>
    <ol>
        <li>The Manuscript with all schemes, figures, tables and diagrams integrated in the text.</li>
        <li>The Publishing Agreement, signed by all the Authors, that the Manuscript has not been previously published and was not submitted elsewhere.</li>
        <li>Other Documents, if applicable.</li>
    </ol>

</div>
