@{
    ViewBag.PageTitle = "Author Guidelines";
}

<h3>@ViewBag.PageTitle</h3>
<br />
<hr />
<div class="row">
    <div class="col-md-6">
        <a asp-controller="Home" asp-action="DownloadFile" asp-route-fileName="Author guidelines.docx" asp-route-subfolder="generalDocuments">Article format</a>
    </div>
    <div class="col-md-6">
        <a asp-controller="Home" asp-action="DownloadFile" asp-route-fileName="Publishing agreement.pdf" asp-route-subfolder="generalDocuments">Publising Agreement</a>
    </div>
</div>
<hr />
<br />
<div>
    <p>Your submission must contain the following items in separate Microsoft Word files:</p>
    <ol>
        <li>The Manuscript with all schemes, figures, tables and diagrams integrated in the text</li>
        <li>The Publishing Agreement, signed by all the Authors, that the Manuscript has not been previously published and is not being submitted elsewhere</li>
        <li>Other Documents, if necessary</li>
    </ol>

</div>
