@{
    ViewBag.PageTitle = "RJEEC - COPYRIGHT AND LICENSE";
}

<h2 class="text-center">COPYRIGHT AND LICENSE</h2>
<br />
<div class="row editorialboardcard">
    <p class="col-sm-12 text-center">
        For all articles published in Romanian Journal of Ecology & Environmental Chemistry,
        copyright is retained by the authors without restrictions.
    </p>
    <p class="col-sm-12 text-center">
        Articles are licensed under an open access Creative Commons CC BY 4.0 license, meaning that
        anyone may download and read the paper for free. In addition, the article may be reused and quoted provided
        that the original published version is cited. These conditions allow for maximum use and exposure of the work, while 
        ensuring that the authors receive proper credit.
    </p>
</div>
<br />