@{
    ViewBag.PageTitle = "EDITORIAL BOARD";
}

<h3 class="text-center">@ViewBag.PageTitle</h3>

<div class="row justify-content-center editorialboardcard">
    <div class="col-sm-8 font-weight-bold">
        Editor in Chief: Luoana Florentina PASCU
    </div>
    <div class="col-sm-8">
        National R&D Institute for Industrial Ecology ECOIND, Romania
    </div>
</div>

<div class="row justify-content-center editorialboardcard">
    <div class="col-sm-8 font-weight-bold">
        Deputy Editor in Chief: Carol Blaziu LEHR
    </div>
    <div class="col-sm-8">
        National R&D Institute for Industrial Ecology ECOIND, Romania
    </div>
</div>

<div class="row justify-content-center editorialboardcard">
    <div class="col-sm-8 font-weight-bold">
        Manager Editor: Gabriela Geanina VASILE
    </div>
    <div class="col-sm-8">
        National R&D Institute for Industrial Ecology ECOIND, Romania
    </div>
</div>

<div class="row justify-content-center editorialboardcard">
    <div class="col-sm-8 font-weight-bold">
        Associate Editors: Olga TIRON, Stefania GHEORGHE, Catalina STOICA
    </div>
    <div class="col-sm-8">
        National R&D Institute for Industrial Ecology ECOIND, Romania
    </div>
</div>

<div class="row justify-content-center editorialboardcard">
    <h4 class="text-center font-weight-bold">
        Editorial Advisory Board:
    </h4>
</div>

<div class="row">
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Gheorghe BATRINESCU
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Asher BRENNER
        </div>
        <div class="col-sm-12">
            Ben-Gurion University of the Negev (BGU), Israel
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Mariana Carmen CHIFIRIUC
        </div>
        <div class="col-sm-12">
            University of Bucharest, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Elena BUCUR
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Costel BUMBAC
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Alina BUTU
        </div>
        <div class="col-sm-12">
            National R&D Institute for Biological Sciences, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Andrei Florin DANET
        </div>
        <div class="col-sm-12">
            University of Bucharest, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Lucian CONSTANTIN
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Liliana CRUCERU
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Lucian Puiu GEORGESCU
        </div>
        <div class="col-sm-12">
            “Dunarea de Jos” University of Galati
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Liviu-Daniel GALATCHI
        </div>
        <div class="col-sm-12">
            Ovidius University of Constanta, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Laurentiu DINU
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Toma GALAON
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Timothy EHLINGER
        </div>
        <div class="col-sm-12">
            University of Wisconsin, Milwaukee, U.S.A.
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Eugen GHEORGIU
        </div>
        <div class="col-sm-12">
            International Centre of Biodynamics, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Lidia KIM
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Stanisław KOTER
        </div>
        <div class="col-sm-12">
            Nicolaus Copernicus University in Toruń, Poland
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Helmut KROISS
        </div>
        <div class="col-sm-12">
            Vienna University of Technology, Institute for Water Quality and Resource Management, Austria
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Irina LUCACIU
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Tudor LUPASCU
        </div>
        <div class="col-sm-12">
            Institute for Chemistry, Academy of Science Moldova
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Jean Louis MARTY
        </div>
        <div class="col-sm-12">
            University of Perpignan via Domitia, France
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Grigore MIHAESCU
        </div>
        <div class="col-sm-12">
            University of Bucharest, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Gheorghe NECHIFOR
        </div>
        <div class="col-sm-12">
            University Politehnica of Bucharest, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Mihai NITA-LAZAR
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Ines NITOI
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Cristina ORBECI
        </div>
        <div class="col-sm-12">
            University Politehnica of Bucharest, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Ovidiu POPA
        </div>
        <div class="col-sm-12">
            University of Agronomic Sciences and Veterinary Medicine of Bucharest, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Jana PETRE
        </div>
        <div class="col-sm-12">
            National R&D Institute for Industrial Ecology ECOIND, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Elefteria PSILLAKIS
        </div>
        <div class="col-sm-12">
            Technical University of Crete, Greece
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Elena Cristina RADA
        </div>
        <div class="col-sm-12">
            University of Trento, Italy / Insubria University, Varese, Italy
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Jaroslav SLOBODNIK
        </div>
        <div class="col-sm-12">
            Environmental Institute of Kos, Slovakia
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Jacobus (Koos) F van STADEN
        </div>
        <div class="col-sm-12">
            National R&D Institute for Electrochemistry and Condensed Matter, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Andrea-Cristina STAICU
        </div>
        <div class="col-sm-12">
            University of Bucharest, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Miruna STAN
        </div>
        <div class="col-sm-12">
            University of Bucharest, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Michaela Dina STANESCU
        </div>
        <div class="col-sm-12">
            Society of Chemistry, Bucharest, Romania
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Daniela Simina STEFAN
        </div>
        <div class="col-sm-12">
            University Politehnica of Bucharest, Romania
        </div>
    </div>

    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Ivana TEODOROVIC
        </div>
        <div class="col-sm-12">
            University of Novi Sad, Serbia
        </div>
    </div>
    <div class="col-sm-6 editorialboardcard">
        <div class="col-sm-12 font-weight-bold">
            Caner ZANBAK
        </div>
        <div class="col-sm-12">
            TCMA, Turkey
        </div>
    </div>


</div>