
@{
    ViewBag.PageTitle = "RJEEC - Home";
}

<p>
    Romanian Journal of Ecology and Environmental Chemistry (RJEEC) founded in 2019,
    is a peer-reviewed scientific journal,
    edited by National Research and Development Institute for Industrial Ecology ECOIND,
    located in Bucharest, Romania.
</p>
<p>
    RJEEC publishes Original Scientific Studies, Review Articles, Short Communication,
    Meeting abstracts, Conference Proceedings, all documents in English.
</p>
<h4>Topics:</h4>
<p>Chemistry; Ecology; Environment; Biotechnology; Technology.</p>

<h4>The research areas:</h4>

<button type="button" class="collapsible graytab">Sustainable Environmental Technologies</button>
<div class="content">
    <ul>
        <li>Biotechnology</li>
        <li>Clean technologies with low energy inputs</li>
        <li>Water supply and sanitation</li>
        <li>Sludge management</li>
        <li>Soil remediation</li>
        <li>Wastewater treatment processes, technology and   infrastructure. Wastewater reuse.</li>
        <li>Waste   treatment and management. Advanced recycling technologies</li>
        <li>Air pollution abatement technologies</li>
    </ul>
</div>
<button type="button" class="collapsible greentab">Pollution Control and Monitoring</button>
<div class="content">
    <ul>
        <li>Air Sampling and Analytical Method Development   and Evaluation</li>
        <li>Indoor air quality</li>
        <li>Odour assessment</li>
        <li>Industrial Noise and Vibration Control</li>
        <li>Biomarkers</li>
        <li>Contaminated sites (soil, sediment, surface water,   groundwater, plants)</li>
        <li>Drinking water quality from source to consumer</li>
        <li>Ecological risk of dangerous substances</li>
        <li>Groundwater resources</li>
        <li>Industrial soil pollution (hazardous compounds)</li>
        <li>Pharmaceuticals in water, soil, waste</li>
        <li>Sampling and chemical analysis of wastes</li>
        <li>Wastewater quality</li>
    </ul>
</div>
<button type="button" class="collapsible darkbluetab">Pollution Assessment and Management Systems</button>
<div class="content">
    <ul>
        <li>Assessment of water bodies quality – control of   inorganic, organic, biological of water and sediment, microbiological   contaminants</li>
        <li>Eco toxicological assessment studies</li>
        <li>Environmental risk assessment and health impact of   contaminated sites</li>
        <li>Management of lands</li>
        <li>Management of health and occupational safety</li>
        <li>Management of environmental quality costs and   security</li>
        <li>Risk assessment caused by waste disposal (gases   emmisions, pollutants migration)</li>
        <li>Water quality, water use: standards, permitting</li>
    </ul>
</div>

<p>
    Article processing and submission are free of charge. A fast, fair and constructive peer-review process is applied.
</p>
<p>
    RJEEC is an open access journal, ensuring free access for all users worldwide.
</p>

<br />
<br />
<p class="font-weight-bold" style="font-size:22px">
    <span>NEW! </span>CALL FOR PAPERS, Submission Deadline: APRIL 20, 2021
</p>
<p class="font-weight-bold">For submission, please <a asp-controller="article" asp-action="create">click here</a>.</p>




