@{
    ViewBag.PageTitle = "Indexing and Abstracting";
}

<h3>@ViewBag.PageTitle</h3>
<br />
<hr />
<div class="row">    
    <a href="#">GOOGLE SCHOLAR</a>    
</div>
<div class="row">
    <a href="#">CROSSREF</a>
</div>
<div class="row">
    <a href="#">ECOLIB</a>
</div>
<hr />
<br />