@{
    ViewBag.PageTitle = "INDEXING AND ABSTRACTING";
}

    <h3 class="text-center">@ViewBag.PageTitle</h3>
<br />
<div class="row editorialboardcard">    
    <a href="#" class="col-sm-12 text-center">GOOGLE SCHOLAR</a>    
</div>
<div class="row editorialboardcard">
    <a href="#" class="col-sm-12 text-center">CROSSREF</a>
</div>
<div class="row editorialboardcard">
    <a href="#" class="col-sm-12 text-center">ECOLIB</a>
</div>
<br />