@{
    ViewBag.PageTitle = "RJEEC - INDEXING AND ABSTRACTING";
}

<h2 class="text-center">INDEXING AND ABSTRACTING</h2>
<br />
<p>
    Romanian Journal of Ecology & Environmental Chemistry is indexed in International Databases such as Directory of 
    Open Access Journal (DOAJ), CABI Digital Library, WorldCat, Asian Science Citation Index and Scientific Literature (MDPI). 
    For citations of the articles, you can access the RJEEC page from 
    <a href="http://dspace.incdecoind.ro/communities/ccc7f00e-3a53-4948-a592-d17ab73cf842" target="_blank" >ECOLIB Institutional Repository</a>
    which is connected to the Dimensions platform where the citations of the articles are counted and presented.
</p>
@*<div class="row editorialboardcard">    
    <a href="#" class="col-sm-12 text-center">GOOGLE SCHOLAR</a>    
</div>*@
<div class="row editorialboardcard">
    <a href="https://doi.org/10.21698/rjeec" target="_blank" class="col-sm-12 text-center">CROSSREF</a>
</div>
<div class="row editorialboardcard">    
    <a href="https://doaj.org/toc/2668-8530" target="_blank" class="col-sm-12 text-center">DOAJ</a>    
</div>
<div class="row editorialboardcard">
    <a href="http://dspace.incdecoind.ro/communities/ccc7f00e-3a53-4948-a592-d17ab73cf842" target="_blank" class="col-sm-12 text-center">ECOLIB</a>
</div>
<div class="row editorialboardcard">
    <a href="https://www.cabidigitallibrary.org/action/doSearch?AllField=%22Romanian+Journal+of+Ecology+%26+Environmental+Chemistry%22&startPage=0&pageSize=20" target="_blank" class="col-sm-12 text-center">CABI Digital Library</a>
</div>
<div class="row editorialboardcard">
    <a href="https://search.worldcat.org/search?q=ti%3ARomanian+Journal+of+Ecology+%26+Environmental+Chemistry&limit=10&offset=1" target="_blank" class="col-sm-12 text-center">WorldCat</a>
</div>
<div class="row editorialboardcard">
    <a href="https://ascidatabase.com/masterjournallist.php?v=Romanian+Journal+of+Ecology+%26+Environmental+Chemistry" target="_blank" class="col-sm-12 text-center">ASCI</a>
</div>
<div class="row editorialboardcard">
    <a href="https://www.scilit.net/sources/104105" target="_blank" class="col-sm-12 text-center">SCILIT</a>
</div>
<br />
<div>
    <img src="~/images/doaj.jpg" alt="DOAJ logo" style="width: 11.8rem; margin-bottom:2rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="~/images/ecolib.png" alt="ECOLIB logo" style="width: 13.8rem; margin-bottom:2rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="~/images/CABI.svg" alt="CABI Digital Library" style="width: 13.8rem; margin-bottom:2rem;">
    <img src="~/images/worldcat.png" alt="Worldcat logo" style="width: 14.3rem; margin-bottom:2rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="~/images/asci.png" alt="ASCI logo" style="width: 13.8rem; margin-bottom:2rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="~/images/scilit.svg" alt="Scilit logo" style="width: 13.7rem; margin-bottom:2rem;">
    <p></p>
</div>