@{
    ViewBag.PageTitle = "RJEEC - INDEXING AND ABSTRACTING";
}

<h2 class="text-center">INDEXING AND ABSTRACTING</h2>
<br />
<div class="row editorialboardcard">    
    <a href="#" class="col-sm-12 text-center">GOOGLE SCHOLAR</a>    
</div>
<div class="row editorialboardcard">
    <a href="https://doi.org/10.21698/rjeec" class="col-sm-12 text-center">CROSSREF - https://doi.org/10.21698/rjeec </a>
</div>
<div class="row editorialboardcard">
    <a href="http://www.dspace.incdecoind.ro" class="col-sm-12 text-center">ECOLIB - http://www.dspace.incdecoind.ro</a>
</div>
<br />