@{
    ViewBag.PageTitle = "RJEEC - JOURNAL OPEN ACCESS POLICY";
}

<h2 class="text-center">JOURNAL OPEN ACCESS POLICY</h2>
<br />
<div class="row editorialboardcard">
    <p class="col-sm-12 text-center">
        This journal provides immediate open access to its content on the principle that
        making research freely available to the public, supports a greater global exchange
        of knowledge. This journal is open acces journal which means that all content is freely
        available without charge to users or / institution.
    </p>
    <p class="col-sm-12 text-center">
        The journal allow readers to read, download, copy, distribute, print, 
        search, or link to the full texts of its articles and allow readers to use them for any other lawful purpose,
        without asking prior permission from the publisher or author.
    </p>
</div>
<br />