@{
    ViewBag.PageTitle = "RJEEC - PRIVACY POLICY";
}

    <h2 class="text-center">PRIVACY POLICY</h2>

<h4>
    Romanian Journal of Ecology & Environmental Chemistry may collect, store and use the following kinds of personal information:
</h4>
<ul>
    <li>
        Information about your computer and about your visits to and use of this website (IP address, geographical location,
        browser type and version, operating system, referral source, length of visit, language, page views and website navigation).
    </li>
    <li>
        Contact details: name, email address, phone number
    </li>
    <li>
        Account login credentials: usernames and passwords
    </li>
    <li>
        Submitted Manuscript
    </li>
    <li>
        E-mail correspondence between you and us.
    </li>
</ul>
<h4>Disclosure</h4>
<p>Ordinarily we will not disclose your personal information under any circumstances.</p>
<h4>Security of your Information</h4>
<p>All personal information stored by us is kept on a server in a secure data environment. 
    Only employees are granted access to personally identifiable information.</p>