@{
    ViewBag.PageTitle = "RJEEC - ETHICS IN PUBLISHING";
}

<h2 class="text-center">ETHICS IN PUBLISHING</h2>
<p>
    Submission of a manuscript implies that the work described has not been published before
    (except in the form of an abstract or as part of a published lecture, review, or thesis);
    that it is not under consideration for publication elsewhere; that its publication has
    been approved by all coauthors, if any, as well.
</p>
<h4>
    1. Author responsibility
</h4>
<p>
    The authors are exclusively responsible for the contents of their submissions, the validity of
    the experimental results and must make sure that they have permission from all involved parties to make the data public.
</p>
<h4>
    2. Plagiarism: Definition and Context
</h4>
<p>
    Plagiarism, where someone assumes another's ideas, words, or other creative expression as one's own,
    is a clear violation of scientific ethics. Plagiarism may also involve a violation of copyright law,
    punishable by legal action. Plagiarism may constitue the following:
</p>
<ul>
    <li>
        Word for word, or almost word for word copying, or purposely paraphrasing portions of another
        author's work without clearly indicating the source or marking the copied fragment (for example, using quotation marks);
    </li>
    <li>
        Copying equations, figures or tables from someone else's paper without properly citing the source and/or
        without permission from the original author or the copyright holder.
    </li>
</ul>
<p>
    Self-plagiarism, as a related issue, is the word for word or almost word for word reproduction of
    portions of one's own copyrighted work without proper citation of the original material. Any text,
    idea, paraphrase from any public source (Internet, published papers, printed or eBooks etc.) which
    is already available to the readers must be cited, irrespective of the authors. It is not allowed to
    repeat the same arguments and ideas, even when they have first been published in little known publications
    with limited circulation in other fields. The exception to this is if the paper features a “Related Work” section.
</p>
<p>
    It is unnacceptable that research results from other papers be presented as though they were original work
    from the present paper. Any text that needs to be reprodused “as is” should be quoted, and proper references
    provided. Quoting of such text should be done very sparingly. It is not acceptable to reproduce large quantities
    of text from other sources (multiple phrases, a larger pagragraph, an entire section). The quoted text should be
    no longer than 8 rows, on A4 format, TNR12 or Arial 11.
</p>

<h4>
    3. To prevent plagiarism, on-line Sistem Antiplagiat Software 
    (<a target="_blank" href="https://www.sistemantiplagiat.ro">www.sistemantiplagiat.ro</a>) 
    is used for plagiarism screening for all submitted papers.
</h4>
