@model Author

@{ 
    ViewBag.PageTitle = "Author Details";            
}

    <h3>@ViewBag.PageTitle</h3>
    <div>
        First Name: @Model.FirstName
    </div>
    <div>
        Last Name: @Model.LastName
    </div>
    <div>
        Email: @Model.Email
    </div>