<div class="sidebar-widget">
    <p class="sidebar-headline">OSIM Nr. 162160</p>
    <div class="sidebar-content">
        <p>
            ISSN on-line:<br /> 2668-8530
        </p>
        <p>
            ISSN-L: 2668-5418
        </p>
    </div>
</div>

@Html.RenderAction("GetLast5Magazines", "Article")
