@*<div class="sidebar-widget">
    <p class="sidebar-headline">Publisher</p>
    <div class="sidebar-content">
        <img class="card-img-top imageThumbnail sigla" src="~/images/favicon.ico" asp-append-version="true" />
        <p>National Research and Development Institute for Industrial Ecology ECOIND Bucharest</p>
        <ul class="sidebar-subcontent">
            <li>
                Editor-in Chief:
            </li>
            <li>
                Manager Editor:
            </li>
            <li>
                Associate Editors:
            </li>
        </ul>
    </div>
</div>*@
<div class="sidebar-widget">
    <div class="sidebar-content">
        <ul class="sidebar-subcontent">
            <li>
                <a asp-controller="home" asp-action="IndexingAndAbstracting">Indexing and Abstracting</a>
            </li>
            <li>
                <a asp-controller="home" asp-action="peerReviewProcess">Peer Review Process</a>
            </li>
        </ul>
    </div>
</div>

    @Html.RenderAction("GetNext5Events", "Event")

<div class="sidebar-widget">
    <div class="sidebar-content">
        <ul class="sidebar-subcontent" style="text-align:center">
            <li class="mb-2">
                <img src="https://assets.crossref.org/logo/member-badges/member-badge-member.svg" width="200" alt="Crossref Member Badge">
            </li>            
            <li class="mb-2">
                <img src="~/images/doi_logo_for_display.gif" width="150" alt="DOI Member Badge" />
            </li>
            <li class="mb-2">
                <img src="~/images/120px-Open_Access_PLoS.svg.png" width="150" alt="Open Access Badge" />
            </li>
            <li>
                <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    <img alt="Creative Commons License" width="150" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                </a>
            </li>
        </ul>
    </div>
</div>
