<div class="sidebar-widget">
    <p class="sidebar-headline">OSIM Nr.</p>
    <div class="sidebar-content">
        <p>ISSN: 2668-5418</p>
        <p>ISSN-L: 2668-5418</p>
    </div>
</div>

@Html.RenderAction("GetLast5Magazines", "Article")
