<div class="sidebar-widget">
    <p class="sidebar-headline">OSIM Nr. 162160</p>
    <div class="sidebar-content">
        <p>
            ISSN on-line:<br /> 2668-8530
        </p>
        <p>
            ISSN-L: 2668-5418
        </p>
    </div>
</div>

@Html.RenderAction("GetLast5Magazines", "Article")

<div class="sidebar-widget">
    <div class="sidebar-content">        
        <p>
            Journal title:<br /><span class="asidesubtitle">Romanian Journal of Ecology & Environmental Chemistry</span> 
        </p>
        <p>
            Abbreviation title:<br /><span class="asidesubtitle">Rom J Ecol Environ Chem</span> 
        </p>
        <p>
            First issue:<span class="asidesubtitle"> 2019</span>
        </p>
        <p>
            Frequency:<br /><span class="asidesubtitle">Biannual (2 regular isssues / year)</span> 
        </p>
        <p>
            Evaluation type:<br /><span class="asidesubtitle">Double blind per-review</span> 
        </p>
        <p>
            Fee and charges:<br /><span class="asidesubtitle">No submission or publication charges</span> 
        </p>
        <p>
            Journal type:<br /><span class="asidesubtitle">OPEN ACCESS under CC BY 4.0 license</span> 
        </p>
    </div>
</div>
<style>
    .asidesubtitle{
        font-weight: 400;
    }
</style>