@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="modal fade bottom show" role="dialog">
        <div class="modal-dialog modal-lg modal-bottom">

            <!-- Modal content-->
            <div class="modal-content" >
                @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>*@
                <div class="modal-body">
                    <span class="consentText">
                        This website uses cookies to ensure you get the best experience on our website. <a asp-controller="Home" asp-action="PrivacyPolicy">Learn more about our Privacy Policy</a>.
                    </span>
                    <button type="button" class="btn btn-primary" style="float:right;" data-dismiss="modal" aria-label="Close" data-cookie-string="@cookieString">
                        <span aria-hidden="true">Accept</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <script>
        $(window).on('load',function(){
            $('#cookieConsent').modal('show');
        });
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}