<footer class="footer font-weight-bold">
    <div class="container">
        <p>
            ROMANIAN JOURNAL OF ECOLOGY AND ENVIRONMENTAL CHEMISTRY publishes  Original Scientific Studies, Review articles, Meeting Abstracts, Conference Proceedings submitted by Romanian and Foreign researchers.
        </p>
        <div class="row">
            <div class="col-sm-8">
                <h6 style="font-weight:bold">Publisher: </h6>National Research and Development Institute for Industrial Ecology ECOIND
                <p>
                    <h6 style="font-weight:bold">Contact: </h6>
                    71-73 Drumul Podu Dambovitei Street, district 6, 060652 code, Bucharest, Romania<br />
                    Phone: +40 21 410 03 77/151<br />
                    Email: <a href="mailto:office@rjeec.ro?subject=Mail from RJEEC">office@rjeec.ro</a><br />
                    <a href="www.dspace.incdecoind.ro">www.dspace.incdecoind.ro</a><br />
                    <a href="www.incdecoind.ro">www.incdecoind.ro</a>
                </p>
            </div>
            <div class="col-sm-4">
                <img class="logoecoind" alt="ECOIND Logo" src="~/Images/Logo engleza ECOIND.JPG" />
            </div>
        </div>
        &copy; 2020 - RJEEC - <a asp-controller="Home" asp-action="PrivacyPolicy"> All Rights Reserved </a>

    </div>
</footer>