<footer class="footer font-weight-bold">
    <div class="container">
        <p>
            ROMANIAN JOURNAL OF ECOLOGY AND ENVIRONMENTAL CHEMISTRY publishes  Original Scientific Studies, Review articles, Meeting Abstracts, Conference Proceedings submitted by Romanian and Foreign researchers.
            <br />ISSN: 2668-5418
            <br />ISSN-L: 2668-5418
        </p>
        <p>
            Contact<br />
            Editorial office: National Research and Development Institute for Industrial Ecology ECOIND Bucharest<br />
            Drumul Podu Dambovitei no. 71-73, district 6, 060652 code, Bucharest, Romania<br />
            Phone:<br />
            Email: office@rjeec.ro
        </p>
    </div>
</footer>