<footer class="footer font-weight-bold">
    <div class="container">
       <div class="row">
            <div class="col-sm-9">
                <p>
                    ROMANIAN JOURNAL OF ECOLOGY AND ENVIRONMENTAL CHEMISTRY publishes  Original Scientific Studies, Review articles, Meeting Abstracts, Conference Proceedings submitted by Romanian and Foreign researchers.
                </p>
                <h6 style="font-weight:bold; display:inline-block; margin-right:0.5rem">Publisher: </h6>
                <p style="display:inline-block">National Research and Development Institute for Industrial Ecology ECOIND</p>
                 <div>
                    <h6 style="font-weight:bold; display:inline-block; margin-right:0.5rem">Contact: </h6>
                    <p style="display:inline">
                        57-73 Drumul Podu Dambovitei Street, district 6, 060652 code, Bucharest, Romania<br />
                        Phone: +40 21 410 03 77/151<br />
                        Email: <a href="mailto:office@rjeec.ro?subject=Mail from RJEEC">office@rjeec.ro</a> <br/>
                        <a href="http://www.dspace.incdecoind.ro">www.dspace.incdecoind.ro </a>| 
                        <a href="https://www.incdecoind.ro">www.incdecoind.ro</a> | 
                        <a href="https://www.simiecoind.ro">www.simiecoind.ro</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-3 logo">
                <img class="logoecoind" alt="ECOIND Logo" src="~/Images/Logo engleza ECOIND.JPG" />
            </div>
        </div>
       <div class="row col-sm-12">&copy; 2020 - RJEEC @*- <a asp-controller="Home" asp-action="PrivacyPolicy"> All Rights Reserved </a>*@</div>

    </div>
</footer>