@model IEnumerable<Magazine>

<div class="sidebar-widget">
    <p class="sidebar-headline">
        Archive
    </p>
    <div class="sidebar-content topevents">
        @foreach (var magazine in Model)
        {
            <p>
                <a asp-controller="article" asp-action="GetAllArticlesByMagazineId" asp-route-magazineId="@magazine.Id">
                    Vol. @magazine.Volume, No. @magazine.Number, @magazine.PublishingYear
                </a>
            </p>
        }
        <br />
        <p>
            <a asp-controller="magazine" asp-action="getPublishedMagazine">See all magazines...</a>
        </p>
    </div>
</div>
