@inject SignInManager<IdentityUser> SignInManager
    <div class="row header">
        <div class="col-md-9 leaddiv">
            Romanian Journal of Ecology & Environmental Chemistry
        </div>
        <div class="col-sm-3 lead">
            @*<p class="lead">*@
                <img class="img-responsive" alt="RJEEC Magazine Logo" src="~/Images/logo_RJEEC.png" />
            @*</p>*@
        </div>  

    </div>

    @*<div class="row header" style="background-color:#EAFAF1">
       <img class="img-responsive" alt="RJEEC Magazine Logo" src="~/Images/logo.jpg" />
    </div>*@


<nav class="navbar navbar-expand-sm navbar-dark navbar-default navbar-fixed-top" role="navigation">
    <div class="container collapsible-menu">
        <!--
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
        -->

        <input type="checkbox" id="menu">
        <label class="menulabel" for="menu">
            <span class="navbar-toggler-icon"></span>
            Menu
            <img class="menuphoto" alt="RJEEC Magazine Logo" src="~/Images/logo_RJEEC.png" />
        </label>
        

        <div class="navbar-collapse navbar-toggleable-xs menu-content" id="collapsibleNavbar">
            @*<img class="img-responsive" alt="RJEEC Magazine Logo" src="~/Images/logo_RJEEC.png" />*@
            <ul class="nav-list nav navbar-nav ml-auto mr-auto">
                <li class="nav-item activetab">
                    <a class="nav-link" asp-controller="home" asp-action="index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="editorialboard">Editorial Board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="authorGuidelines">Author Guidelines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="article" asp-action="create">Manuscript submission</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="article" asp-action="GetArticlesInStatus" asp-route-id="0">Check Articles</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="publishingEthics">Publishing Ethics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="PrivacyPolicy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="article" asp-action="search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="contact" asp-action="index">Contact</a>
                </li>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin") || User.IsInRole("Editor")))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" asp-controller="magazine" asp-action="index">Magazines</a>
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                                <a class="dropdown-item" asp-controller="event"
                                asp-action="index">Events</a>

                                <a class="dropdown-item" asp-controller="author"
                                   asp-action="index">Authors</a>
                                <a class="dropdown-item" asp-controller="Administration"
                                   asp-action="ListUsers">Users</a>
                                @*<a class="dropdown-item" asp-controller="Administration"
                                   asp-action="ListRoles">Roles</a>*@
                            }
                        </div>
                    </li>
                }

                @if (SignInManager.IsSignedIn(User))
                {

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="ChangePassword">
                            Change Password
                        </a>
                    </li>
                    <li class="nav-item">
                        <form method="post" asp-controller="account" asp-action="logout">
                            <button type="submit" class="nav-link btn btn-link py-0 logout">
                                Logout @User.Identity.Name
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="account" asp-action="register">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="account" asp-action="login">
                            Login
                        </a>
                    </li>
                }
            </ul>

        </div>
    </div>
</nav>