@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="~/Images/favicon.ico">
    <environment include="Development">
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">

        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>

    </environment>
    <link href="~/css/site.css" rel="stylesheet" />
    <title>@ViewBag.PageTitle</title>
</head>
<body>
    <div class="container">
        <partial name="_Header" />
        <div class="row" id="rowcontent">
            <partial name="_CookieConsentPartial" />

            <div class="col-md-2 asideleft">
                <partial name="_AsideLeft" />
            </div>
            <div class="col-md-7 maincontent">
                @RenderBody()
            </div>
            <div class="col-md-3 asideright">
                <partial name="_AsideRight" />
            </div>
        </div>
        <div class="row" id="smallscreensaside">
            <div>
                <partial name="_AsideLeft" />
            </div>
            <div>
                <partial name="_AsideRight" />
            </div>
        </div>
        <partial name="_Footer" />
        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: false)
        }
    </div>
    <script src="~/js/custom.js"></script>
    <!--/Start async trafic.ro/-->
    <script type="text/javascript" id="trfc_trafic_script">
        //<![CDATA[
        t_rid = 'rjeec-ro';
        (function () {
            t_js_dw_time = new Date().getTime();
            t_js_load_src = ((document.location.protocol == 'http:') ? 'http://storage.' : 'https://secure.') + 'trafic.ro/js/trafic.js?tk=' + (Math.pow(10, 16) * Math.random()) + '&t_rid=' + t_rid;
            if (document.createElement && document.getElementsByTagName && document.insertBefore) {
                t_as_js_en = true; var sn = document.createElement('script'); sn.type = 'text/javascript'; sn.async = true; sn.src = t_js_load_src;
                var psn = document.getElementsByTagName('script')[0]; psn.parentNode.insertBefore(sn, psn);
            } else {
                document.write(unescape('%3Cscri' + 'pt type="text/javascript" ' + 'src="' + t_js_load_src + ';"%3E%3C/sc' + 'ript%3E'));
            }
        })();
//]]>
    </script>
    <noscript><p><a href="http://www.trafic.ro/statistici/rjeec.ro"><img alt="rjeec.ro" src="http://log.trafic.ro/cgi-bin/pl.dll?rid=rjeec-ro" /></a></p></noscript>
    <!--/End async trafic.ro/-->
</body>
</html>
