@model IEnumerable<Article>

@{
    ViewBag.PageTitle = "RJEEC - Article List";
}

    <h2>Article List</h2>

<div class="card-deck">
    @foreach (var article in Model)
    {
       <partial name="_ArticleCard" model="@article"/>
    }
</div>

