@model IEnumerable<Article>

@{
    ViewBag.PageTitle = "Article List";
}

<h3>@ViewBag.PageTitle</h3>

<div class="card-deck">
    @foreach (var article in Model)
    {
       <partial name="_ArticleCard" model="@article"/>
    }
</div>

