@model GetPublishedMagazineViewModel

@{
    ViewBag.PageTitle = "RJEEC - Archive";
    var photoPath = "~/coverImages/" + (Model.ExistingCoverPath ?? "noimage.jpg");
    var backPhotoPath = "~/coverImages/" + (Model.ExistingBackCoverPath ?? "noimage.jpg");
}

<form name="form1" asp-controller="Magazine" asp-action="GetPublishedMagazine" method="post">
    <h2>Archive</h2>
    <input hidden asp-for="PublishedMagazines" />
    <div class="form-group row">
        <label asp-for="MagazineId" class="col-sm-3 col-form-label" style="text-align:right;"></label>
        <div class="col-sm-8">
            <select id="ChosenMagazine" asp-for="MagazineId" asp-items="Model.PublishedMagazines" class="form-control" onchange="DoPostBack();">
                <option value="">Please Select</option>
            </select>
         </div> 
    </div>
</form>

<div class="form-group row col-sm-4 offset-4">
    <img class="imageThumbnail" src="@photoPath" asp-append-version="true" />
</div>

@if(Model.Articles != null && Model.Articles.Count() > 0)
{
    <div class="card-deck">
        @foreach (var article in Model.Articles)
        {
            <partial name="_ArticleCard" model="@article" />
        }
    </div>
}

<div class="form-group row col-sm-4 offset-4">
    <img class="imageThumbnail" src="@backPhotoPath" asp-append-version="true" />
</div>

@section Scripts {
    <script>
        function DoPostBack()
            {
                var select = document.getElementById("ChosenMagazine");
                var option = select.options[select.selectedIndex];
                if (option.value != "Please select") {
                    document.form1.action = "/magazine/GetPublishedMagazine/" + option.value;
                    document.form1.submit();
                }
            }
    </script>
}

