@model IEnumerable<Event>

@{
    ViewBag.PageTitle = "Events";
}

<h3>@ViewBag.PageTitle</h3>

<a asp-controller="Event" asp-action="Create" class="btn btn-primary m-1" style="width:150px">New Event</a>

<div class="event card-deck">
    @foreach (var ev in Model)
    {
        var photoPath = "~/eventImages/" + ((ev.EventPhotos != null && ev.EventPhotos.Count > 0) ? ev.EventPhotos[0].PhotoPath : "noimage.jpg");
        <div class="eventcard card m-3">
            <div class="card-header">
                <h3>@ev.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">
                <a asp-controller="Event" asp-action="Details" asp-route-id="@ev.Id" class="btn btn-primary m-1">View</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>

